.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.headerWrapper {
  display: flex;
  justify-content: space-evenly;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

.footerWrapper {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}
